html, body{
	height: 100%;
	margin: 0px;
}

.contenedor{
	height: 100%;
	width: auto;
}

.div-izquierda{
	height: 100%;
	width: 50%;
	float: left;

	background-color: #f0f0f0;

}

.div-derecha{
	height: 100%;
	width: 50%;
	float: right;

	background-color: #009688;
}
.div-contenido-izquierda{
	margin: 10%;
}
