/*--------------------------------------------------------------------
 *CSS:        "style.js"
 *author:     Enrique Nieto Arranz
 *website:    http://www.nietoarranz.ga
-----------------------------------------------------------------------*/

/* ==========================================================================
   Content
   ========================================================================== 
 *  1. Fonts
 *  2. Basic
 *  3. Divs
 *  4. Elementos
 *  5. Hover effects
 *  6. Contenido de terceros
 */ 




/*  1. Fonts
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Quicksand:300');

@import url('https://fonts.googleapis.com/css?family=Space+Mono:400');

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400');




/*  2. Basic
   ========================================================================== */
html { 
	overflow-y:hidden;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none; 
}

::-webkit-scrollbar { 
    display: none; 
}

body{
	font-family: 'Roboto Mono', monospace;
}

.global{
	font-family: 'Roboto Mono', monospace;
	width: 100%;
	font-size: 15px;
}


/*  3. Divs
   ========================================================================== */

.div-izquierda{
	background-color: #f0f0f0;
	height: auto;
	height: 100vh;
	overflow: hidden;
}

.div-derecha{
	background-color: #212121;
	font-family: 'Roboto Mono', monospace;
	color: #f0f0f0;
	height: auto;
	height: 100vh;
}

.div-scroll{
	overflow: auto;
}

.div-home{
	height: 100vh;
	font-family: 'Roboto Mono', monospace;
	letter-spacing: 1px;
	font-weight: 400;
	
}

.div-sobremi{
	height: 100vh;
	font-family: 'Roboto Mono', monospace;
	font-weight: 400;
	color: #828282;
}

.div-contacto{
	height: 100vh;
	font-family: 'Roboto Mono', monospace;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 10px;
	letter-spacing: 15px;
}

.div-texto{
	padding-left: 5%;
	padding-right: 5%;
}

/*  4. Elementos
   ========================================================================== */

table{
	height: 100vh;
}

.menu{
	font-size: 17px;
	font-style: normal;
	letter-spacing: 2px;
	font-weight: 300;
}

.menu ul{
	padding-left: 0;
	list-style:none;
	padding: 10px;
}
.menu li{
	padding: 5px;
}

.links-sin{
	text-decoration: none;
	outline: none;
	color: #f0f0f0;

}
.links-sin:hover{
	text-decoration:none;
	color: #f0f0f0;
}

.no_paddings{
	padding: 0;
}

.corchete{
	font-family: 'Quicksand', sans-serif;
}

ul{
	padding: 0;
}

.icon-hover {
	margin-top: 5px;
    cursor: pointer;
	transition: color 300ms ease, margin-top 300ms ease;
	
}

.icon-hover:hover{ 
	position: relative;
    top: -5px;
} 

.icon-hover:hover:before, .icon-hover:hover:after {
	color: #ffe900;
}

.linkcursor{
	cursor: pointer;
	font-weight: 400;
	color: #212121;
}

ul{
	padding: 0;
}

.icon-hover {
	margin-top: 5px;
    cursor: pointer;
	transition: color 300ms ease, margin-top 300ms ease;
	
}

.icon-hover:hover{ 
	position: relative;
    top: -5px;
} 

.icon-hover:hover:before, .icon-hover:hover:after {
	color: #ffe900;
}

.linkcursor{
	cursor: pointer;
	font-weight: 400;
	color: #000000;
}




/*  5. Hover effects
   ========================================================================== */

/* ===== Hover line ===== */
.hover-line {
  display: inline-block;
  position: relative;
  padding: 0 0 2px 0;
  font-weight: 400;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.hover-line:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
  visibility: hidden;
  background-color: #ffdd00;
  color: #ffdd00;
  -webkit-transition: all .1s ease;
  transition: all 0.3s ease;  
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}

.hover-line:hover:after {
  visibility: visible;
  color: #212121;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.linea-roja:after{
	background-color: red;
}

.linea-azul:after{
	background-color: #00aced;
}

.linea-morada:after{
	background-color: #8a3ab9;
}

.linea-negra:after{
	background-color: #212121;
}
/* ======================= */


/* no-gutters Class Rules */
.row.no-gutters {
   margin-right: 0;
   margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}
/* ======================= */

/* ===== LLaves menu ===== */
.brackets:before, .brackets:after {
	position: absolute;
	color: transparent;/* It makes the curly brackets invisible at the beginning.*/
}
.brackets:hover:before, .brackets:hover:after {
	color: #f0f0f0; /* Or whatever colour you want. */
}

/* For movement */
.brackets:before {
	content: "{";
	left: -20px;
}
.brackets:hover:before {
	left: -15px;
}
.brackets:after {
	content: "}";
	right: -20px;
}
.brackets:hover:after {
	right: -15px;
}
a {
	text-decoration: none;
	position: relative;
	transition: all .3s;

}
a:after, a:before {
	transition: all .3s;
}

a:link{
	text-decoration:none;
}

a:hover{
	text-decoration:none;
}
/* ======================= */




/*  6. Contenido de terceros
   ========================================================================== */

/* ===== typed cursor ===== */
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@media screen and (max-width: 35em) {
	.codrops-icon span {
		display: none;
	}
}
/* ======================= */

